body {
  --color-focus: #3892f3;
  --font-text: "Libre Franklin", Arial, sans-serif;
  --font-heading: "Plus Jakarta Sans", Arial, sans-serif;
  --background-color: #f0f6fd;
  --card-background-color: #f4f7fa;
  --primary-color: #0265dc;
  --primary-text-color: #f5f8fb;
  --standart-transition: 0.3s ease-out all;
}
