*:focus-visible {
  outline: none;
  box-shadow: 0.075rem 0.075rem var(--color-focus),
    -0.075rem 0.075rem var(--color-focus), 0.075rem -0.075rem var(--color-focus),
    -0.075rem -0.075rem var(--color-focus);
}

:root {
  font-family: var(--font-text);
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1440px;
  overflow: auto;
  scrollbar-gutter: stable;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  height: fit-content;
  border-radius: var(--card-border-radius);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon__small {
  width: 1rem;
  height: 1rem;
}

.details {
  display: block;
  width: 100%;
  box-shadow: 0 0.25rem 2.5rem 0 #1d395f14;
  border-radius: 0.625rem;
  background-color: #fff;
  transition: height 0.5s ease-out;
}

.details__summary {
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.details__summary::after {
  content: "";
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #1d36532b;
  transition: var(--standart-transition);
}

.details__summary:hover::after {
  background: #294d7517;
}

.details__summary::before {
  content: url("../images/icons/arrow.svg");
  line-height: 0.5rem;
  position: absolute;
  display: flex;
  top: calc(50% - 0.325rem);
  right: 0.8rem;
  transform: rotate(-90deg);
  transition: transform 0.3s ease-out;
}

.details__summary:hover::after {
  border-radius: 0.5rem;
  border: 0.125rem solid #1d36532b;
}

.details__summary:focus::after {
  border-color: var(--color-focus);
}

.details[open] {
  padding: 1.42rem;
  border: 0.125rem solid var(--primary-color);
  animation: details-start-animation;
  animation-duration: 0.5s;
  overflow: hidden;
}

.details:not([open]) {
  animation: details-end-animation;
  animation-duration: 0.5s;
}

@-webkit-keyframes details-start-animation {
  from {
    height: 2rem;
  }
  30% {
    max-height: fit-content;
    border: 0.125rem solid var(--primary-color);
  }
  to {
    height: 40rem;
    max-height: fit-content;
  }
}

@-moz-keyframes details-start-animation {
  from {
    height: 2rem;
  }
  30% {
    border: 0.125rem solid var(--primary-color);
  }
  to {
    height: 9rem;
  }
}

@keyframes details-end-animation {
  from {
    height: 10rem;
    min-height: fit-content;
  }
  to {
    height: 2rem;
    min-height: fit-content;
  }
}

.details[open] .details__summary {
  margin-bottom: 1rem;
}

.details[open] .details__summary::before {
  transform: rotate(90deg);
}

.link {
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  transition: var(--color-transition);
}

.link:hover {
  color: var(--color-focus);
}

.link:focus,
.link:active {
  color: var(--primary-color);
}

.link:focus {
  box-shadow: 0.25rem 0.25rem var(--color-focus),
    -0.25rem 0.25rem var(--color-focus), 0.25rem -0.25rem var(--color-focus),
    -0.25rem -0.25rem var(--color-focus);
}

.link.disabled {
  color: var(--disabled-color);
}

.list {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0rem;
  list-style-type: none;
}

.list__elements {
  padding: 0.075rem;
  margin: -0.075rem;
}

.list__column {
  flex-direction: column;
  gap: 1rem;
}

.heading__main-title {
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 3.875rem;
  font-family: var(--font-heading);
}

.heading__section {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: var(--section-title-color);
}

.heading__section-title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: var(--heading-letter-spacing);
}

.heading__article-title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-transform: capitalize;
}

.heading__card-title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-transform: capitalize;
}

.highlite-text__span {
  color: var(--primary-color);
}

.text__main {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #2a3541d9;
}

.text__section {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #222222;
  filter: opacity(0.7);
}

.container__section {
  margin: 0 auto;
  padding: 3.75rem 5rem;
}

.container__main {
  flex-grow: 2;
}

.button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: var(--standart-transition);
  flex-shrink: 0;
  width: fit-content;
}

.button:hover,
.button:active {
  background-color: #294d7517;
}

.button:focus {
  box-shadow: var(--focus-shadow);
}

.button.disabled {
  pointer-events: none;
  color: var(--disabled-color);
  background-color: var(--secondary-color);
}

.button__small {
  padding: 0.375rem 0.75rem;
}

.button__large {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 1.125rem 2rem;
}

.button__navigation {
  border: none;
  background-color: #fff;
}

.button__navigation.disabled {
  background-color: #fff;
  color: var(--disabled-color);
}

.button__primary {
  border: none;
  background: var(--primary-color);
  color: var(--primary-text-color);
}

.button__primary:hover {
  background: var(--color-focus);
}

.button__primary:active {
  border: transparent;
  background: #0054b6;
}

.button__secondary {
  border: 0.125rem solid var(--secondary-color);
  background-color: #fff;
}

.button__secondary:hover {
  background: #294d7517;
  background-color: #294d7517;
}

.button__secondary:disabled {
  background: var(--secondary-color);
}

.button__secondary:focus {
  border-color: var(--color-focus);
}

.button__secondary.button__large {
  padding: 1rem 2rem;
}

.button__square-big {
  line-height: 0;
  padding: 1.125rem;
}

.button__square-medium {
  line-height: 0;
  padding: 0.5rem;
}

.input {
  border-radius: 0.5rem;
  border: 0.075rem solid var(--secondary-color);
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: calc(15rem - 2 * 0.75rem - 0.1rem);
  transition: var(--standart-transition);
}

.input::placeholder {
  color: var(--fade-color);
}

.input:hover {
  border: 0.075rem solid var(--color-focus);
  box-shadow: 0.075rem 0.075rem var(--color-focus),
    -0.075rem 0.075rem var(--color-focus), 0.075rem -0.075rem var(--color-focus),
    -0.075rem -0.075rem var(--color-focus);
}

.input:focus {
  border: 0.075rem solid var(--color-focus);
  box-shadow: var(--focus-shadow);
}

.input__large {
  padding: 1.125rem 1.375rem;
}

.input__small {
  padding: 0.625rem 0.75rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.625rem 5rem;
  gap: 2rem;
}

.header__navigation {
  flex-grow: 2;
  height: fit-content;
}

.header__assets-block {
  display: flex;
}

.main {
  display: flex;
  grid-template-columns: 9.5rem 1fr;
  max-width: 100%;
  justify-content: space-between;
  padding: 7.5rem 52.5rem 7.5rem 5rem;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  width: var(--screen-width);
  left: calc((100% - (var(--screen-width))) / 2);
  top: 0;
  height: 100%;
  z-index: -2;
  background: linear-gradient(to right, var(--background-color) 52%, #fff 86%);
}

.main::before {
  content: "";
  position: absolute;
  width: 39rem;
  top: calc((100% - 34rem) / 2);
  right: 2.5rem;
  height: 34rem;
  z-index: -1;
  background-image: url("../images/intros/intro-platform.webp"),
    url("../images/icons/pen.svg"), url("../images/icons/ruler.svg"),
    url("../images/intros/intro-articles.webp"),
    url("../images/intros/intro-eventify.webp");
  background-repeat: no-repeat;
  background-size: 17.5rem 26.375rem, 8.5rem 6.875rem, 7.875rem 8.375rem,
    18.25rem 10.25rem, 32.125rem 18.75rem;
  background-position: 0 0, 28.25rem 0rem, 0rem 25.625rem, 19.75rem 3rem,
    bottom right;
}

.main__main-information {
  gap: 2rem;
}

.main-information__highlite-text {
  letter-spacing: var(--heading-letter-spacing);
  text-wrap: balance;
}

.main-information__main-buttons {
  gap: 1.5rem;
}

.products {
  padding-top: 7.5rem;
}

.products__list {
  overflow: auto;
  gap: 2rem;
}

.products__list-item {
  gap: 1.25rem;
}

.products__link .list-item__image,
.list-item__icon-image {
  transition: var(--color-transition);
}

.products__link:active .list-item__image {
  background-color: var(--primary-color);
}

.products__link:active svg {
  color: #e0f2ff;
}

.products__title {
  line-height: 1.75rem;
  font-weight: 500;
  text-align: center;
  font-size: 1.25rem;
}

.list-item__image {
  width: 14rem;
  height: 14rem;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
  display: grid;
}

.list-item__icon-image {
  width: 9.375rem;
  height: 9.375rem;
  place-self: center;
  color: var(--primary-color);
}

.categories {
  gap: 4rem;
  align-items: center;
}

.categories > * {
  width: 38rem;
}

.categories__list {
  gap: 1rem;
  justify-content: center;
  position: relative;
}

.categories__list::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  min-height: 3.75rem;
  background-image: linear-gradient(#fff, transparent);
}

.categories__list::before {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  min-height: 3.75rem;
  background-image: linear-gradient(transparent, #fff);
  z-index: 2;
}

.categories__categories-information {
  order: 2;
}

.categories-information__highlite-text {
  width: 60%;
}

.categories-information__button {
  margin-top: 1rem;
}

.categories__categories-cards {
  flex-wrap: nowrap;
  height: 28.75rem;
  gap: 1.25rem;
  overflow-x: auto;
  position: relative;
}

.categories__categories-cards:last-child::before {
  content: "";
  width: 14rem;
  min-height: 3.75rem;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}

.categories__categories-cards:first-child::after {
  content: "";
  width: 14rem;
  min-height: 3.75rem;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}

.categories-cards__categories-card {
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
  padding: 1.5rem;
  transition: var(--color-transition);
  gap: 0.5rem;
  width: 10.8rem;
}

.categories-card__description {
  color: var(--fade-color);
  padding: 0;
}

.categories-card__image {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
}

.categories-card__title {
  padding-top: 0.5rem;
}

.categories-cards__link:active .categories-cards__categories-card {
  background-color: var(--primary-color);
  color: #f8f7ff;
}

.categories-cards__link:active svg {
  color: #e0f2ff;
}

.categories-cards__link:active .categories-card__description {
  color: #eff5fad1;
}

.trending {
  padding-bottom: 3.5rem;
}

.trending__trending-header {
  justify-content: space-between;
  align-items: end;
}

.trending-controller__buttons {
  gap: 0.75rem;
}

.trending-controller__button:last-of-type svg {
  transform: rotate(180deg);
}

.trending__trending-list {
  margin-top: 3rem;
  gap: 1rem;
  overflow-x: auto;
}

.trending-card__to-product {
  position: absolute;
  place-self: center;
  width: calc(68%);
  justify-content: center;
  filter: opacity(0);
  z-index: 2;
  transition: var(--filter-transition);
}

.trending-list__link:hover .trending-card__to-product {
  filter: opacity(1);
}

.trending-card__image-container {
  position: relative;
  display: grid;
  width: 19.063rem;
  height: 17rem;
  overflow: hidden;
  border-radius: var(--card-border-radius);
}

.trending-card__image-container::after {
  content: "";
  position: absolute;
  filter: opacity(0);
  width: 100%;
  height: 100%;
  background-color: #e7eef7a8;
  transition: var(--filter-transition);
}

.trending-list__link:hover .trending-card__image-container::after {
  filter: opacity(1);
}

.trending-card__trending-image {
  transform: scaleX(1.11);
}

.trending-card__label {
  position: absolute;
  right: 0;
  padding: 1rem;
  line-height: 0;
  background-color: var(--primary-color);
  border-radius: 0 var(--card-border-radius);
}

.trending-card__main-information {
  justify-content: space-between;
  align-items: center;
}

.trending-information__title {
  margin-bottom: 0.25rem;
}

.trending-information__price {
  font-weight: 500;
  color: var(--primary-color);
}

.trending-card__trending-information {
  gap: 0.25rem;
  padding-bottom: 0.25rem;
}

.trending-information__description {
  color: var(--fade-color);
}

.pricing-plan {
  align-items: center;
}

.pricing-plan__plan-list {
  margin-top: 2rem;
  gap: 1rem;
  height: 31.625rem;
  align-items: end;
}

.plan-list__plan-item {
  border-radius: var(--card-border-radius);
  box-shadow: 0 0.25rem 2.5rem 0 #1d395f14;
  padding: 2rem;
  width: 22rem;
}

.plan-list__plan-item.best {
  border: 0.125rem solid var(--primary-color);
  padding: 1.875rem;
  position: relative;
}

li:has(.plan-list__plan-item.best) {
  align-self: start;
}

.plan-item__label {
  position: absolute;
  right: -0.125rem;
  text-transform: uppercase;
  top: -0.125rem;
  padding: 0.43rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 0 var(--card-border-radius);
  color: #fff;
}

.plan-item__full-price {
  color: var(--fade-color);
}

.plan-item__price {
  color: var(--text-color);
}

.plan-item__plan-features {
  margin-top: 1rem;
  padding-top: 2.4rem;
  border-top: 0.07rem solid #1f324745;
}

.plan-features__feature::before {
  content: "";
  display: inline-block;
  width: 0.35rem;
  height: 0.875rem;
  border-bottom: 0.125rem solid var(--primary-color);
  border-right: 0.125rem solid var(--primary-color);
  transform: rotate(45deg);
  margin-right: 1rem;
  margin-top: 0.125rem;
  margin-left: 0.375rem;
}

.plan-item__subscribe {
  margin-top: 1.5rem;
  width: auto;
  justify-content: center;
}

.faq {
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
  position: relative;
}

.faq::after {
  content: "";
  position: absolute;
  opacity: 10%;
  top: 18%;
  left: 15%;
  aspect-ratio: 1.38;
  width: 60rem;
  background-image: radial-gradient(
    var(--section-title-color),
    transparent 73%
  );
  z-index: -1;
}

.faq-information__cta-button {
  margin-top: 1rem;
  text-transform: capitalize;
}

.faq-questions__title {
  text-transform: none;
}

.faq-questions__details {
  width: 35.75rem;
  padding: 1.5rem;
}

.faq-questions__summary {
  display: flex;
}

.articles__articles-header {
  justify-content: space-between;
  align-items: center;
}

.articles-header__arrow {
  transform: rotate(180deg);
}

.articles__articles-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  padding: 0.125rem;
  margin: -0.125rem;
  margin-top: 2.875rem;
}

.articles__articles-list li:first-child {
  grid-row: 1 / span 2;
}

.articles__link {
  display: flex;
  height: 100%;
}

.articles__link:hover .article__image-container {
  box-shadow: var(--focus-shadow);
}

.articles-list__article:first-of-type {
  gap: 0;
}

.articles-list__article:first-of-type .article__image-container {
  flex-grow: 2;
}

.articles-list__article:first-of-type .article__image {
  height: 100%;
}

.article__image-container {
  position: relative;
  display: grid;
  overflow: hidden;
  border-radius: var(--card-border-radius);
  transition: var(--color-transition);
}

.article__image {
  width: 100%;
  height: min-content;
}

.article__label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  color: var(--primary-text-color);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border-radius: 6.25rem;
}

.article__article-information {
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.article-information__description {
  text-transform: uppercase;
  color: var(--fade-color);
}

.footer {
  margin-top: 3.75rem;
  padding: 4rem 5rem 0;
}

.footer__summary {
  gap: 4rem;
}

.footer__cta {
  margin-top: 3.5rem;
  justify-content: space-between;
  align-items: center;
}

.footer__documents {
  margin-top: 7.5rem;
  background-color: var(--text-color);
  padding: 1.5rem 5rem;
  color: #e7eef7a8;
  justify-content: space-between;
  width: 100%;
  position: relative;
  left: -5rem;
}

.footer__summary::before {
  content: "";
  flex-grow: 2;
  order: 0;
}

.summary__information {
  width: 20rem;
  order: -1;
}

.information__link {
  line-height: 0;
  font-size: 0;
}

.information__logo {
  transform: scaleX(1.15);
}

.summary-lists__list {
  margin-top: 1rem;
  gap: 0.5rem;
}

.list-item__link {
  color: var(--fade-color);
  padding: 0;
  font-weight: 400;
  display: inline-block;
}

.list-item__document-link {
  color: #e7eef7a8;
}

.cta__newsletter {
  width: 40.375rem;
}

.newsletter__label {
  width: 13.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: none;
  flex-grow: 2;
}

.newsletter__input {
  width: 12.25rem;
  min-width: 10rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.newsletter__button {
  padding: 1.125rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.document-list__list-item:not(.document-list__list-item:last-child):after {
  content: "|";
  display: inline-block;
  margin-left: 0.375rem;
}

@supports (-webkit-appearance: none) {
  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  :root {
    --screen-width: calc(100vw - 0.25rem);
  }
}

@media (max-width: 1440px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  .main {
    padding: 8rem 40% 8rem 5rem;
  }
}
